# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    smsapi_login: TEST_LOGIN
    smsapi_password_hash: TEST_HASH
    sms_report_sender_name: "Jacek L for xsolve"
    sms_report_recipient_number: "+48502536598"
    email_report_from_address: "no-reply@jacekl.dev"
    email_report_recipient_address: "jacek.lange@gmail.com"
    email_report_subject: "Benchmark report"
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
